*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.container {
    padding: 20px;
    width: 40%;
}
label {
    font-size: 18px;
}
label input {
    width: 70%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
}
button {
    background-color: #6c63ff;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #574fd6;
}
ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
}
li {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li:nth-child(odd) {
    background-color: #e2e2e2;
}
#taskText {
    width: 65%;
}
.deletetaskbtn {
    background-color: #ff4d4d;
}
.deletetaskbtn:hover {
    background-color: #d63a3a;
}
li input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 15px;
    cursor: pointer;
}

.text-completed {
    text-decoration: line-through;
    color: gray;
}
@media (max-width: 768px) {
    .container {
        width: 80%;
    }
    label input {
        width: 50%;
    }
    #addtaskbtn{
        margin-top: 10px;
        margin-left: 0;
    }
}